# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
*.db
*.sqlite
backend/static/uploads/

# Node
node_modules/
.next/
dist/
build/
.vercel
npm-debug.log*

# OS
.DS_Store
Thumbs.db
.env*.local
